In [1]:
import mysql.connector
import pandas as pd

In [2]:
df = pd.read_csv("User 0_all_gaze.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123714 entries, 0 to 123713
Data columns (total 60 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   MEDIA_ID                       123714 non-null  int64
 1   MEDIA_NAME                     123714 non-null  object
 2   CNT                            123714 non-null  int64
 3   TIME(2024/03/12 12:23:38.733)  123714 non-null  float64
 4   TIMETICK(f=10000000)           123714 non-null  int64
 5   FPOGX                          123714 non-null  float64
 6   FPOGY                          123714 non-null  float64
 7   FPOGS                          123714 non-null  float64
 8   FPOGD                          123714 non-null  float64
 9   FPOGID                         123714 non-null  int64
 10  FPOGV                          123714 non-null  int64
 11  BPOGX                          123714 non-null  float64
 12  BPOGY                          123714 non-null  float64
 13  BPOGV                          123714 non-null  int64
 14  CX                             123714 non-null  float64
 15  CY                             123714 non-null  float64
 16  CS                             123714 non-null  int64
 17  KB                             123714 non-null  object
 18  KBS                            123714 non-null  int64
 19  USER                           0 non-null       float64
 20  LPCX                           123714 non-null  float64
 21  LPCY                           123714 non-null  float64
 22  LPD                            123714 non-null  float64
 23  LPS                            123714 non-null  float64
 24  LPV                            123714 non-null  int64
 25  RPCX                           123714 non-null  float64
 26  RPCY                           123714 non-null  float64
 27  RPD                            123714 non-null  float64
 28  RPS                            123714 non-null  float64
 29  RPV                            123714 non-null  int64
 30  BKID                           123714 non-null  int64
 31  BKDUR                          123714 non-null  float64
 32  BKPMIN                         123714 non-null  int64
 33  LPMM                           123714 non-null  float64
 34  LPMMV                          123714 non-null  int64
 35  RPMM                           123714 non-null  float64
 36  RPMMV                          123714 non-null  int64
 37  DIAL                           123714 non-null  float64
 38  DIALV                          123714 non-null  int64
 39  GSR                            123714 non-null  int64
 40  GSRV                           123714 non-null  int64
 41  HR                             123714 non-null  int64
 42  HRV                            123714 non-null  int64
 43  HRP                            123714 non-null  int64
 44  IBI                            123714 non-null  float64
 45  TTL0                           123714 non-null  int64
 46  TTL1                           123714 non-null  int64
 47  TTL2                           123714 non-null  int64
 48  TTL3                           123714 non-null  int64
 49  TTL4                           123714 non-null  int64
 50  TTL5                           123714 non-null  int64
 51  TTL6                           123714 non-null  int64
 52  TTLV                           123714 non-null  int64
 53  PIXS                           123714 non-null  float64
 54  PIXV                           123714 non-null  int64
 55  AOI                            0 non-null       float64
 56  SACCADE_MAG                    123714 non-null  float64
 57  SACCADE_DIR                    123714 non-null  float64
 58  VID_FRAME                      123714 non-null  int64
 59  Unnamed: 59                    0 non-null       float64
dtypes: float64(28), int64(30), object(2)
memory usage: 56.6+ MB

In [5]:
filtered_df = df[df['CS'].isin([1,3])]
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 290 entries, 0 to 123698
Data columns (total 60 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   MEDIA_ID                       290 non-null    int64
 1   MEDIA_NAME                     290 non-null    object
 2   CNT                            290 non-null    int64
 3   TIME(2024/03/12 12:23:38.733)  290 non-null    float64
 4   TIMETICK(f=10000000)           290 non-null    int64
 5   FPOGX                          290 non-null    float64
 6   FPOGY                          290 non-null    float64
 7   FPOGS                          290 non-null    float64
 8   FPOGD                          290 non-null    float64
 9   FPOGID                         290 non-null    int64
 10  FPOGV                          290 non-null    int64
 11  BPOGX                          290 non-null    float64
 12  BPOGY                          290 non-null    float64
 13  BPOGV                          290 non-null    int64
 14  CX                             290 non-null    float64
 15  CY                             290 non-null    float64
 16  CS                             290 non-null    int64
 17  KB                             290 non-null    object
 18  KBS                            290 non-null    int64
 19  USER                           0 non-null      float64
 20  LPCX                           290 non-null    float64
 21  LPCY                           290 non-null    float64
 22  LPD                            290 non-null    float64
 23  LPS                            290 non-null    float64
 24  LPV                            290 non-null    int64
 25  RPCX                           290 non-null    float64
 26  RPCY                           290 non-null    float64
 27  RPD                            290 non-null    float64
 28  RPS                            290 non-null    float64
 29  RPV                            290 non-null    int64
 30  BKID                           290 non-null    int64
 31  BKDUR                          290 non-null    float64
 32  BKPMIN                         290 non-null    int64
 33  LPMM                           290 non-null    float64
 34  LPMMV                          290 non-null    int64
 35  RPMM                           290 non-null    float64
 36  RPMMV                          290 non-null    int64
 37  DIAL                           290 non-null    float64
 38  DIALV                          290 non-null    int64
 39  GSR                            290 non-null    int64
 40  GSRV                           290 non-null    int64
 41  HR                             290 non-null    int64
 42  HRV                            290 non-null    int64
 43  HRP                            290 non-null    int64
 44  IBI                            290 non-null    float64
 45  TTL0                           290 non-null    int64
 46  TTL1                           290 non-null    int64
 47  TTL2                           290 non-null    int64
 48  TTL3                           290 non-null    int64
 49  TTL4                           290 non-null    int64
 50  TTL5                           290 non-null    int64
 51  TTL6                           290 non-null    int64
 52  TTLV                           290 non-null    int64
 53  PIXS                           290 non-null    float64
 54  PIXV                           290 non-null    int64
 55  AOI                            0 non-null      float64
 56  SACCADE_MAG                    290 non-null    float64
 57  SACCADE_DIR                    290 non-null    float64
 58  VID_FRAME                      290 non-null    int64
 59  Unnamed: 59                    0 non-null      float64
dtypes: float64(28), int64(30), object(2)
memory usage: 138.2+ KB

In [7]:
filtered_df

,MEDIA_ID,MEDIA_NAME,CNT,TIME(2024/03/12 12:23:38.733),TIMETICK(f=10000000),FPOGX,FPOGY,FPOGS,FPOGD,FPOGID,...,TTL5,TTL6,TTLV,PIXS,PIXV,AOI,SACCADE_MAG,SACCADE_DIR,VID_FRAME,Unnamed: 59
0,0,NewMedia0,0,0.00000,5999990824192,0.43023,0.13730,0.00000,0.00000,1,...,1,1,0,0.0,0,NaN,0.0,0.0,0,NaN
573,0,NewMedia0,573,3.88635,6000029687155,0.62788,0.33517,3.71216,0.17419,16,...,1,1,0,0.0,0,NaN,0.0,0.0,0,NaN
584,0,NewMedia0,584,3.95856,6000030409489,0.62799,0.33002,3.90485,0.05371,17,...,1,1,0,0.0,0,NaN,0.0,0.0,0,NaN
755,0,NewMedia0,755,5.10413,6000041865057,0.43515,0.40103,5.01678,0.08734,22,...,1,1,0,0.0,0,NaN,0.0,0.0,0,NaN
771,0,NewMedia0,771,5.21130,6000042937112,0.65751,0.39759,5.18658,0.02472,23,...,1,1,0,0.0,0,NaN,0.0,0.0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120955,0,NewMedia0,120955,822.94202,6008220243946,0.34395,0.64218,822.53174,0.41028,3870,...,1,1,0,0.0,0,NaN,0.0,0.0,0,NaN
120967,0,NewMedia0,120967,823.02063,6008221030702,0.34077,0.65067,822.53174,0.48889,3870,...,1,1,0,0.0,0,NaN,0.0,0.0,0,NaN
123137,0,NewMedia0,123137,837.68359,6008367659416,0.39348,0.85091,836.99341,0.66968,3944,...,1,1,0,0.0,0,NaN,0.0,0.0,0,NaN
123161,0,NewMedia0,123161,837.84399,6008369263768,0.41561,0.87505,837.66992,0.17407,3945,...,1,1,0,0.0,0,NaN,0.0,0.0,0,NaN
123698,0,NewMedia0,123698,841.44128,6008405236490,0.45057,0.08977,840.73792,0.69653,3961,...,1,1,0,0.0,0,NaN,0.0,0.0,0,NaN

In [8]:
filtered_df.describe()

,MEDIA_ID,CNT,TIME(2024/03/12 12:23:38.733),TIMETICK(f=10000000),FPOGX,FPOGY,FPOGS,FPOGD,FPOGID,FPOGV,...,TTL5,TTL6,TTLV,PIXS,PIXV,AOI,SACCADE_MAG,SACCADE_DIR,VID_FRAME,Unnamed: 59
count,290.0,290.000000,290.000000,2.900000e+02,290.000000,290.000000,290.000000,290.000000,290.000000,290.000000,...,290.0,290.0,290.0,290.0,290.0,0.0,290.000000,290.000000,290.0,0.0
mean,0.0,66155.824138,451.157959,6.004502e+12,0.364327,0.658905,451.005524,0.146323,2071.631034,0.868966,...,1.0,1.0,0.0,0.0,0.0,NaN,8.539927,6.552858,0.0,NaN
std,0.0,38003.361369,258.319339,2.583193e+09,0.127423,0.188211,258.315081,0.112745,1229.798889,0.338021,...,0.0,0.0,0.0,0.0,0.0,NaN,53.852872,39.473794,0.0,NaN
min,0.0,0.000000,0.000000,5.999991e+12,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,1.0,1.0,0.0,0.0,0.0,NaN,0.000000,0.000000,0.0,NaN
25%,0.0,30428.250000,208.444732,6.002075e+12,0.278855,0.599910,208.329013,0.066800,922.250000,1.000000,...,1.0,1.0,0.0,0.0,0.0,NaN,0.000000,0.000000,0.0,NaN
50%,0.0,71866.000000,489.891295,6.004890e+12,0.320505,0.694640,489.760680,0.122285,2170.500000,1.000000,...,1.0,1.0,0.0,0.0,0.0,NaN,0.000000,0.000000,0.0,NaN
75%,0.0,103638.000000,706.028015,6.007051e+12,0.421820,0.743590,705.929932,0.194430,3300.250000,1.000000,...,1.0,1.0,0.0,0.0,0.0,NaN,0.000000,0.000000,0.0,NaN
max,0.0,123698.000000,841.441280,6.008405e+12,0.812020,2.568240,840.737920,0.709840,3961.000000,1.000000,...,1.0,1.0,0.0,0.0,0.0,NaN,502.049620,330.818760,0.0,NaN

In [10]:
filtered_df.to_csv('output.csv', index = False)

In [14]:
import os

#Path to RightPC Yennhi Thoa 
pathR = "c:/Users/Kelly/Desktop/Right_gaze"

#path to LeftPC Yennhi Thoa
pathL ="c:/Users/Kelly/Desktop/Left_gaze"

if os.path.isdir(pathR):
    print(f"True") 
else:
    print(f"Directory does not exist")

True

## Database data

1. Make a script that iterates through the folder and inputs every .csv file as a df
2. Create a new df(local_time_start) that contains the user_id AND the start time from each df

In [17]:
database_df = pd.read_csv("machine1 master table results.csv")
database_df = database_df[database_df['button_name'].str.contains('Begin Main Study')]
database_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17 entries, 10 to 993
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   user_id        17 non-null     int64
 1   button_name    17 non-null     object
 2   question_id    0 non-null      float64
 3   question_text  0 non-null      object
 4   user_answer    0 non-null      object
 5   timestamp      17 non-null     object
dtypes: float64(1), int64(1), object(4)
memory usage: 952.0+ bytes